

{% extends "::base.html.twig" %}
{% block title %}locations{% endblock %}
{% block body %}
    <head>
        <link rel="stylesheet" href="../web/css/sizing.css">
    </head>
    <div class="container" style="background-color: #edf0ee; max-width: 500px">

        <h1>Technicians</h1>
        <hr style="width: 97%; color: gray; height: 2px; background-color: gray" />
        {%  for tech in technicians_list if technicians_list is not empty %}
            <div class="alert alert-success" role="alert">
                <p><label>{{ tech }}</label>
                    <label style="text-align: right"><a href="admin/edit/{{tech.id}}">Edit</a></label>
                    <label style="text-align: right"><a href="admin/remove?techId={{ tech.id }}">Delete</a></label></p>
            </div>
        {%  else %}
            <li>No technicians found</li>
        {% endfor %}
    </div>
    </br>

{% endblock %}