html, body{
    padding: 0;
    margin: 0;
}

.card {
    float: left;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(220, 213, 175, 0.18);
}

.severeCard {
    background-color: red;
    float: left;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 20px;
}

.formDesign {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.table {
    font-size: 30px;
}

.main {
    text-align: center;
}


    h1.elegantshadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 80px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        color: #131313;
        letter-spacing: .15em;
    }

    h2.elegantshadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        color: #131313;
        letter-spacing: .15em;
    }

    a {
        text-decoration: none;
        color: #363636;
    }

button {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
}

.problemButton {
    background-color: rgba(249, 44, 44, 0.65);
}

.statusButton {
    background-color: rgba(62, 148, 175, 0.72);
}
